.aboutPadding{
    margin: 15em 1em !important;
    padding: 1em 8em !important;
}

.text-center{
    text-align: center;
}

.gold{
    color: #d8b707;
}

.bookingCard{
    border: 2px solid #000;
    padding: 20px 10px;
}
.b-none{
    background: none;
    border: none;
}